@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

html{
    background: radial-gradient(circle, red, rgb(0, 255, 64), blue);
    height: 100vh;
}
.introduction{
    font-family: "Indie Flower";
    font-size: 70px;
    color: rgb(55, 0, 255);
    text-shadow: 0px 10px 10px brown;
    text-align: center;
}
.img1{
    float: left;
    border: 10px double white;
}
.img2{
    float: right;
    border: 10px dotted rgb(255, 217, 0);
}
.img3{
    margin-top: 50px;
    float: left;
    border: 10px dashed rgb(25, 0, 255);
    transform: rotate(45deg);
}
.img4{
    transform: rotate(-45deg);
    margin-right: 48px;
    margin-top: 50px;
    float: right;
    border: 10px groove rgb(255, 77, 187);
}
.content1{
    text-align: center;
    font-family:"Signika" ;
    font-size: 40px;
    color: rgb(78, 4, 4);
}
.content2{
    font-family: "Satisfy";
    font-size: 40px;
    color: white;
    text-align: center;
    margin-top: 20px;
}